#content {
    color: white;
    height: auto;
    padding: 25px;
}

#space {
    margin: auto;
    height: 2px;
    width: 70%;
    background: linear-gradient(to right, transparent, rgb(14, 4, 43), transparent);
}

h2 {
    margin: 0;
}

a {
    margin-right: 20px;
}